body {
  width: 300px;
  height: 200px;
}

button {
  color: mediumslateblue;
  background: none;
  border: 1px solid mediumslateblue;
  outline: none;
}

button:hover {
  cursor: pointer;
}

span {
  margin-left: 4px;
  color: mediumslateblue;
}

#tab-list {
  margin: 8px 0px;
}

.tab-container {
  height: 24px;
  margin-top: 4px;
  border: 1px solid mediumslateblue;
}

.tab-container > img {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-top: 4px;
  margin-left: 4px;
}

.tab-container > a {
  display: inline-block;
  width: 250px;
  height: 16px;
  margin: 0px 4px;
  overflow: hidden;
  color: mediumslateblue;
  text-decoration: none;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.tab-container > a:visited {
  color: mediumslateblue;
}

.tab-container > button {
  display: inline-block;
  width: 16px;
  height: 16px;
  padding: 0px;
  vertical-align: 20%;
}
